<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learing vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    
    <h1>Learning Vue :) </h1>

    <div id="app">
        <div v-if="showBooks">
            <h3>{{title}} - {{author}} - {{age}}</h3>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide books</span>
            <!-- <span v-if="!showBooks">Show books</span> -->
            <span v-else>Show books</span>
        </button>

            <!-- when we use this it only uses css to hide the elt, but above it 
            actually removes the elt from the dom -->
        <div v-show="showBooks">currently showing books</div>

    </div>

    <script src="app.js"></script>
</body>
</html>